@import url("../styles/reset.css");
@import url("../styles/variables.css");

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
body {
  font-family: "Roboto";
  font-weight: 700;
  color: var(--primary-color);
}

.website-name {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.16px;
}

p {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: var(--subtitle-color);
}

.nav-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color:var( --primary-color);
  transition:0.9 all ease ease-in-out;
}

.nav-item:nth-child(2) .nav-link {
  color: var(--home-link-color);
}


.nav-link:hover{
  color:var( --accent-purple)
}

.sections-title {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -1.8px;
}


.hero-title {
  font-size: 60px;
  line-height: 65px;
  letter-spacing: -2px;
}